  /* Push down page content below fixed nav */
  header {
    /* background-image: url('Stars_Header.jpg'); */
    color: white;
    padding-top: 75px;
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
  }

  .text-box {
    background-color: #083266; /* Blue with transparency */
    border: 2px solid white;               /* White border */
    border-radius: 15px;                   /* Curved corners */
    display: inline-block;
    padding: 20px 30px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: soft shadow */
  }
/* Body settings */
body {
    font-family: Arial, sans-serif;
    background-image: url("Stars_Background.jpg");
    color: #0a3161;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  /* Top nav bar styling */
  nav.navbar {
    background-color: #BB133E;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    z-index: 999;
    box-shadow: 0 2px 5px #ffffff;
  }
  
  /* Make nav items line up in a row */
  nav.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  /* Style each nav item */
  nav.navbar li {
    margin: 0;
  }
  
  /* Style links */
  nav.navbar a {
    display: block;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav.navbar a:hover {
    background-color: #0a3161;;
  }

  #text_body {
    background-color: #ffffff;
    padding: .1rem 3rem;
    max-width: 1200px;
    margin: auto;
  }

  .pdf-viewer {
    width: 100%;
    height: 100vh; /* 100% of the visible browser height */
    border: none;
  }

  p {
    font-size: 15pt;
  }
  